<div class="container">
  <div>
    <h1>Salary check</h1>
    <form (ngSubmit)="onSubmit()" #salaryForm="ngForm">
      <div class="form-group">
        <label for="grossPerDay">Salary gross per day</label>
        <input type="number" class="form-control" id="grossPerDay"
               required
               [(ngModel)]="model.grossPerDay" name="grossPerDay"
               #grossPerDay="ngModel">
        <div [hidden]="grossPerDay.valid || grossPerDay.pristine"
             class="alert alert-danger">
          Salary is required
        </div>
      </div>

      <div class="form-group">
        <label for="country">Country</label>
        <select class="form-control" id="country"
                required
                [(ngModel)]="model.country" name="country"
                #country="ngModel">
          <option *ngFor="let country of countries" [value]="country">{{country}}</option>
        </select>
        <div [hidden]="country.valid || country.pristine" class="alert alert-danger">
          Country is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!salaryForm.form.valid">Submit</button>
    </form>
  </div>

  <div [hidden]="!salary">
    <h2>Your salary will be {{ salary?.netSalary | number : '1.2-2' }} PLN per month.</h2>
  </div>
</div>
